 
  <!-- <ng-template #template> 
  <div style="background-color: rgb(31, 45, 59); width: 630px; height:200px; z-index: 500;">
    <div class="modal-header" style="color: white;margin:0px 0px 0px 25px">
           <h4 class="modal-title pull-left">{{TrailerMovie?.Title}}</h4>
      <button type="button" style="color: white;margin-right:10px;" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        {{TrailerMovie?.TrailerURL}}
      <iframe style="height:290px;width:580px; border: none;margin: 20px 20px 20px 25px;" 
       [src]="TrailerMovie?.TrailerURL">
      </iframe>
    </div>
  </div>
</ng-template>  -->
